<% if @category_id.blank? %>
	<h1>All My Work</h1>
<% else %>
	<h1><%= Category.find_by(id: @category_id).name %></h1>
<% end %>
<br>


<% @projects.each_slice(3) do |projects| %>
	<div class="row">
		<% projects.each do |project| %>
			<div class="col-md-4">
				<div class="recipe">
					<div class="image_wrapper">
						<%= link_to project do %>
							<%= image_tag project.url, style: "width:200px;height:200px;" %>
						<% end %>
					</div>
					<h2><%= link_to project.title, project %></h2>
					<% if admin_signed_in? %>
						<%= link_to "Edit", edit_project_path(project) %>
					<% end %>
				</div>
			</div>
		<% end %>
	</div>		
<% end %>
<div class="row">
	<% if admin_signed_in? %>
		<%= link_to "New", new_project_path %> 
	<% end %>
</div>