<h1><%= @project.title %></h1>
<br>

<% if @project.video.blank? && @project.flash.blank? %>
	<%= image_tag @project.url, class: "project_image" %>
<% elsif @project.video.present? %>
	<div class: "project_flash">
		<iframe src="<%= @project.video %>" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
<% else %>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script type="text/javascript">
		var flashvars = {};
		var params = {};
		var attributes = {};
				
		
		params.bgcolor="#FFFFFF"; 
		
		attributes.name = "";
		attributes.styleclass = "project_flash";
		attributes.align = "";			
		swfobject.embedSWF("<%= @project.flash %>", "flashContent", "<%= @project.fx %>", "<%= @project.fy %>", "9.0.0", false, flashvars, params, attributes);
	</script>

	<div id="flashContent" class: "project_flash">
		Get <a href="http://www.adobe.com/go/getflash">Adobe Flash Player</a>. Embedded with the help of <a href="http://embed-swf.org">embed-swf.org</a>.
		<p>(Refreshing the page may also fix this issue!)
		</p>
	</div>
	<br>
<% end %>

<% if @project.externalurl.present? %>
	<p>Put Link here</p>
<% end %>

<div class="project_about">
	<%= simple_format @project.description %>
</div>
<br>
<% if admin_signed_in? %>
	<%= link_to "Edit", edit_project_path(@project) %>  
	<%= link_to "Delete", project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %>  
<% end %>
<%= link_to "Back", projects_path %>
<br>


		
