<!DOCTYPE html>
<html>
	<head>
	  <title>Find Este!</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>
	</head>
	<body>
		<div class="nav navbar navbar-default">
				<div class="container">
					<div class="navbar-brand" style="margin-left:50px;"><%= link_to "Find Este", root_path %></div>
					<ul class="nav navbar-nav navbar-right">
						<li><%= link_to "About", about_path %></li>
						<li style="margin-right:50px;"><%= link_to "Contact", contact_path %></li>
					</ul>
				</div>
			</div>
			
			<div class="container">
				<div class="col-md-8 col-md-offset-2">
					<% flash.each do |name, msg| %>
						<div class="alert alert-info fade in">
					    <button class="close" data-dismiss="alert">×</button>
					    <%= msg %>
					  </div>
					<% end %>
					<%= yield %>
				</div>
			</div>
	</body>
</html>
